{% extends 'panel/base.html' %}
{% load static %}
{% block content %}


<section class="vh-100" style="background-color: #eee;">
<div class="container py-5 vh-100">
    <div style="width: 100%">
        <div class="card" style="width: 100%">
            <div class="card-header" style="width: 100%">
                <h4>Задачи</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-striped mb-0">

                        <tbody>
                        <tr>
                            <th class="text-center">
                                <div>
                                    <p>№</p>
                                </div>
                            </th>
                            <th style="width: 25%">Организатор</th>
                            <th style="width: 25%">Название задачи</th>
                            <th style="width: 30%">Статус</th>
                            <th>Срок до:</th>
                            <th>Участники</th>
                            <th style="width: 30%">Действие</th>
                        </tr>
                        {% for todo in todo_list %}
                        <tr>
                            <td class="p-0 text-center">
                                <div class="mt-4">
                                    <p>{{ todo.id }}</p>
                                </div>
                            </td>
                            <th>
                                <img src="{{ user.profile.photo.url }}"
                                     class="shadow-1-strong rounded-circle" alt="avatar 1"
                                     style="width: 55px; height: 45;">
                                <span class="ms-2">{{user.profile.first_name}} {{user.profile.last_name}}</span>
                            </th>
                            <td class="align-middle">
                                <span>{{ todo.title }}</span>
                            </td>
                            <td class="align-middle">
                                {% if todo.is_complete == False %}
                                <span class="ui black label">Не завершено</span>
                                <a class="ui red  button" href="{% url 'update' todo_id=todo.id %}">Закрыть</a>
                                {% else %}
                                <span class="ui green label">Завершено</span>
                                <a class="ui blue basic button" href="{% url 'update' todo_id=todo.id %}">Открыть</a>
                                {% endif %}
                            </td>
                            <td><p class="ui clue text"> {{ todo.created }}</p></td>
                            <td>
                                {% for participant in todo.participants.all %}
                                <img src="{{ participant.user.profile.photo.url }}"
                                     class="shadow-1-strong rounded-circle" alt="avatar 1"
                                     style="width: 35px; height: 35;">
                                {% endfor %}
                            </td>

                            <td>
                                <a class="ui blue button" data-toggle="tooltip"
                                   href="{% url 'edit' todo_id=todo.id %}"
                                   data-original-title="Edit"><i
                                        class="fas fa-pencil-alt"></i></a>
                                <a class="ui blue button" data-toggle="tooltip"
                                   href="{% url 'delete' todo_id=todo.id %}"
                                   data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?"
                                   data-confirm-yes="alert('Deleted')" data-original-title="Delete"><i
                                        class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock content %}